.col-md-4
  .list-group
    %a.list-group-item.list-group-item-action{:href => "summary.html"} Resumen
    %a.list-group-item.list-group-item-action{:href => "admin.html"} Administrador
    %a.list-group-item.list-group-item-action{:href => "reputation.html"} Reputación
    %a.list-group-item.list-group-item-action{:href => "sales.html"} Ventas
    %a.list-group-item.list-group-item-action{:href => "products.html"} Productos
    %a.list-group-item.list-group-item-action{:href => "purchases.html"} Compras
    %a.list-group-item.list-group-item-action{:contenteditable => "true", :href => "configuration.html"} Configuración
